################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JkBook/.vs
/JkBook/JkBook/bin/Debug/netcoreapp2.1
/JkBook/JkBook/obj
