<footer class="border-top footer text-muted text-center bottom-0">
    <div class="container">
        Copyright &copy; Book Store application  @DateTime.Now.Year
        <custom-email-id s-email-id="blochjavedk@gmail.com"></custom-email-id>
    </div>

</footer>
