@using JkBook.Enums
@inject JkBook.Repository.ILanguageRepository _languageRepo 
@{
    ViewData["Title"] = "Add Newbook";
    var selectlstLanguage = (await _languageRepo.GetLanguages()).Select(x => new SelectListItem(x.Name, x.Id.ToString()));

}
@model BookModel

<div class="container">
    <h5 class="display-7"> Add NewBook</h5>
    @if (ViewBag.IsSuccess)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Congratulation!</strong> Record added successfully. <br />
            Click <a asp-controller="book" asp-action="getbook" asp-route-Id="@ViewBag.BookId"> here </a> to view the details.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    }
    <div class="d-flex justify-content-center" >
        <div class="spinner-border" role="status" id="myLoader" style="display:none;" >
            <span class="sr-only"></span>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data"
          data-ajax="false"
          data-ajax-complete="myComplete"
          data-ajax-success="mySuccess"
          data-ajax-failure="myFailure"
          data-ajax-loading="#myLoader"
          asp-action="AddNewBook" asp-controller="Book">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="LanguageId"></label>
            <select asp-for="LanguageId" class="form-select" required asp-items="selectlstLanguage">
                <option value="">Select Language</option>
            </select>
            <span asp-validation-for="LanguageId" class="text-danger"></span>
        </div>
        @*<div class="form-group">
            <label asp-for="MultiLanguage"></label>
            <select asp-for="MultiLanguage" class="form-select" required asp-items="ViewBag.MultiLanguageList " multiple>
                <option value="">Select MultiLanguage</option>
            </select>
            <span asp-validation-for="MultiLanguage" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="BookType"></label>
            <select asp-for="BookType" class="form-select" required asp-items="Html.GetEnumSelectList<BookTypeEnum>()">
                <option value="">Select BookType</option>
            </select>
            <span asp-validation-for="BookType" class="text-danger"></span>
        </div>*@
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Author"></label>
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TotalPages"></label>
            <input asp-for="TotalPages" class="form-control" />
            <span asp-validation-for="TotalPages" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CoverPhoto"></label>
            <div class="custom-file">
                <input asp-for="CoverPhoto" class="custom-file-input form-control " id="customFile">
                @*<label class="custom-file-label" for="customFile">Choose file</label>*@
            </div>
            <span asp-validation-for="CoverPhoto" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="GalleryFiles"></label>
            <div class="custom-file">
                <input asp-for="GalleryFiles" class="custom-file-input form-control " id="customFile">
                @*<label class="custom-file-label" for="customFile">Choose file</label>*@
            </div>
            <span asp-validation-for="GalleryFiles" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BookPdf"></label>
            <div class="custom-file">
                <input asp-for="BookPdf" class="custom-file-input form-control " id="customFile">
                @*<label class="custom-file-label" for="customFile">Choose file</label>*@
            </div>
            <span asp-validation-for="BookPdf" class="text-danger"></span>
        </div>
        <div class="form-group">
            <br />
            <input type="submit" class="btn btn-primary" value="Add Book" />
            @*<input type="submit" class="btn btn-primary" value="Add Book Async" formaction="AddNewBook_Async" />*@
        </div>
    </form>
</div>


@section scripts{ 
    <script>
        function myComplete(data) {
            alert("Task Complete.");
        }
        function mySuccess(data) {
            alert("Task Success.");
        }
        function myFailure() {
            alert("Task Failure.");
        }
    </script>
}