@{

    ViewData["Title"] = "All Books";
}
@model IEnumerable<BookModel>
@{
    var lstParameter = new Dictionary<string, string>()
    {
        { "Id",""},
        { "companyname","JK Soft"},
        { "timeofaction",DateTime.Now.ToString()}
    };
}

<div class="container">
    <h1 class="display-6">All Books</h1>
    <div class="row">
        @foreach (var book in Model)
        {
            lstParameter["Id"] = book.Id.ToString();

            <div class="col-md-4">
                <partial name="_bookThumbnail" model="@book" />
            </div>



        }

    </div>
</div>
