@model EmailConfirmModel

@{
    ViewData["Title"] = "ConfirmEmail";
}

<h2>ConfirmEmail</h2>
<div class="container">
    <div class="row text-center">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            @if (Model.EmailVarified == true)
            {
                <div class="alert alert-success" role="alert">
                    <p>Your email has been verified successfully</p>
                </div>
            }
            else
            {
                if (Model.EmailSend)
                {
                    <p>Email send on your registered email id</p>

                }
                else
                {
                    <p>We have sent an email on your email id, Click on the link  to login</p>

                }
                <form asp-action="ConfirmEmail">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Email" />
                    <p>Did not get any email or deleted by mistake?</p>
                    <div class="form-group">
                        <input type="submit" value="Resend confirm email" class="btn btn-primary" />

                    </div>

                </form>

              
            }


        </div>

    </div>

</div>
