@{
  
    ViewData["Title"] = "About us";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs page.</title>
</head>
<body>
    <h1>This is AboutUs page.</h1>
    <p class="display-6 text-success">@ViewData["Id"]</p>
    <p class="display-5 text-primary">@ViewData["name"]</p>
    
</body>
</html>
