@{

    ViewData["Title"] = "Contact us";
}
<h1>This is Contact Us page.</h1>
<p class="display-6 text-success">@ViewBag.Id</p>
<p class="display-5 text-primary">@ViewBag.Name</p>
<h2>ContactUs</h2>

